In [54]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle as pkl
import pandas as pd
import numpy as np

In [55]:
## load scaler, one hot and model

model = load_model("model.h5")


with open("onehot_encoder_geo.pkl", 'rb') as file:
    label_encoder_geo = pkl.load(file)

with open("label_encoder_gender.pkl", 'rb') as file:
    label_encoder_gender = pkl.load(file)

with open("scaler.pkl", 'rb') as file:
    scaler = pkl.load(file)

In [56]:
input_data={
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 50000
}

input_data = pd.DataFrame([input_data])

In [57]:
geo_encoded = label_encoder_geo.transform([input_data['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoded, columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\kuchh\anaconda3\envs\churnenv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [58]:
input_data = pd.concat([input_data.reset_index(drop=True), geo_encoded_df], axis=1)

In [59]:
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [60]:
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])

In [61]:
input_data
input_data.drop(columns=['Geography'], inplace=True, axis=1)

In [62]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [63]:
scaled_input = scaler.transform(input_data)

In [64]:
scaled_input

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [65]:
pred = model.predict(scaled_input)

1/1 [==============================] - 0s 263ms/step

In [68]:
pred
prediction_prob = pred[0][0]

In [70]:
if prediction_prob >= 0.5:
    print('The Customer is likely to churn')

else:
    print('The Customer is not likely to churn')

The Customer is not likely to churn